<template>
    <div>

      <h3>Partie NOUS</h3>
      <textarea name="" id="" cols="30" rows="10" v-model="motivationContent"></textarea>

      <button @click="setMotivationContent">Créer le template</button>

    </div>
</template>

<script>
    export default {
        name: "ApplianceMotivationLetterContent",
        data(){
          return {
            motivationContent: this.$store.getters.getActiveAppliance.motivationContent
          }
        },
        methods: {
          setMotivationContent(){
            this.$store.dispatch('updateMotivationContent', this.motivationContent)
            this.$router.go(-1)
          }
        }
    }
</script>

<style scoped>

</style>
