<template>
  <div class="appliance-detail">
    <div class="header">
      <h1>{{activeAppliance.companyName}}</h1>
      <h2>{{activeAppliance.positionTitle}}</h2>
      <p>{{activeAppliance.applianceType}}</p>
    </div>

    <div class="path">
      <AppliancePathCard/>
    </div>

    <div class="position">
      <Position/>
    </div>

    <div class="company">
      <Company/>
    </div>

    <div class="contact">
      <Contact/>
    </div>

    <div>
      <router-link to="/create-motivation-content">
        <button>Créer une lettre de motivation</button>
      </router-link>
    </div>

    <div>
      <button @click="sendAppliance">Envoyer la candidature</button>
    </div>

  </div>
</template>

<script>
    import Position from "../components/ApplianceDetails/Position";
    import Company from "../components/ApplianceDetails/Company";
    import Contact from "../components/ApplianceDetails/Contact";
    import AppliancePathCard from "../components/ApplianceDetails/AppliancePathCard";
    const fb = require('../firebaseConfig');
    export default {
        name: "ApplianceDetails",
      components: {AppliancePathCard, Contact, Company, Position},
      data(){
          return {
            toSend: {
              senderInfo: {
                name: 'Romain BASTIEN',
                adress1: '45, rue Sympa',
                adress2: 'Manhattan',
                zipcode: '090888',
                city: 'New York City',
                mail: 'romainbastien6@gmail.com'
              },
              contactInfo: {
                name: this.$store.getters.getActiveAppliance.contact.name,
                position: this.$store.getters.getActiveAppliance.contact.position,
                adress1: this.$store.getters.getActiveAppliance.company.adress1,
                adress2: this.$store.getters.getActiveAppliance.company.adress2,
                zipcode: this.$store.getters.getActiveAppliance.company.zipcode,
                city: this.$store.getters.getActiveAppliance.company.city,
                mail: this.$store.getters.getActiveAppliance.contact.mail
              },
              cv: fb.fireb.storage().ref().child(this.$store.getters.getActiveCampaign.defaultCV).getDownloadURL(),
              mailTemplate: this.$store.getters.getActiveCampaign.defaultMailTemplate,
              lm: {
                you: this.$store.getters.getActiveAppliance.motivationContent,
                me: this.$store.getters.getActiveCampaign.defaultMotivationLetterTemplate.me,
                us: this.$store.getters.getActiveCampaign.defaultMotivationLetterTemplate.us
              }
            }
          }
      },
      computed: {
          activeAppliance(){
            return this.$store.getters.getActiveAppliance
          }
        },
        methods: {
          sendAppliance(){
            console.log(this.toSend)
            this.$store.dispatch('sendAppliance', this.toSend)
          }
        },
        created(){
          this.$store.dispatch('fetchAppliance', this.$route.params.id)
        }
    }
</script>

<style scoped>
  h1, h2 {
    margin-bottom: 0;
  }
  h2 {
    margin-top: 0;
  }

  .header {
    margin-bottom: 5%;
  }

  .path {
    margin-bottom: 8%;
  }
</style>
