<template>
  <div>
    <h1>{{campaign.title}}</h1>
    <router-link to="/create-appliance">
      <button>+ Nouvelle candidature</button>
    </router-link>
    <form ref="CVForm" v-if="!hasCV">
      <h4>CV pour la campagne</h4>
      <input type="file" name="" id="" v-on:change="saveCV">
    </form>
    <div v-if="hasCV">
      <router-link to="/view-campaign-cv">
        <button>Voir le CV de la campagne</button>
      </router-link>
    </div>
    <div>
      <router-link to="/create-mail-template">
        <button v-if="!hasEmailTemplate">Créer un mail type pour cette campagne</button>
        <button v-if="hasEmailTemplate">Voir le template mail</button>
      </router-link>
      <router-link to="/create-motivation-letter">
        <button v-if="!hasMotivationLetter">Créer une lettre de motivation</button>
        <button v-if="hasMotivationLetter">Voir la lettre de motivation</button>
      </router-link>
    </div>

    <ApplianceList/>
  </div>
</template>

<script>
    import ApplianceList from "../components/ApplianceList";
    export default {
        name: "UserDashboard",
        components: {ApplianceList},
        data: () => {
          return {
            cv: null
          }
        },
        computed: {
          campaign(){
            return this.$store.getters.getActiveCampaign
          },
          hasCV(){
            if(this.$store.getters.getActiveCampaign.defaultCV){
              return true
            }
            else {
              return false
            }
          },
          hasEmailTemplate(){
            if(this.$store.getters.getActiveCampaign.defaultMailTemplate){
              return true
            }
            else {
              return false
            }
          },
          hasMotivationLetter(){
            if(this.$store.getters.getActiveCampaign.defaultMotivationLetterTemplate.me && this.$store.getters.getActiveCampaign.defaultMotivationLetterTemplate.us){
              return true
            }
            else {
              return false
            }
          }
        },
        created(){
          this.$store.dispatch('fetchCampaign', this.$route.params.id)
        },
        methods: {
          saveCV(e){
            const cv = new Blob(e.target.files)
            this.$store.dispatch('uploadCV', cv)
          }
        }
    }
</script>

<style scoped>

</style>
