<template>
  <div>

    <div v-if="signUp">
      <SignUp/>
    </div>

    <div v-else>
      <Login/>
    </div>

    <div>
      <OAuthLogin/>
    </div>

    <div>
      <button @click="toogleSignUp">
        <span v-if="signUp">Login</span>
        <span v-else>Sign Up</span>
      </button>
    </div>

  </div>
</template>

<script>
    import Login from '../components/Login'
    import SignUp from '../components/SignUp'
    import OAuthLogin from '../components/OAuthLogIn'


    export default {
        name: "Connection",
        components: {Login, SignUp, OAuthLogin},
        data(){
          return {
            signUp: false
          }
        },
        computed: {
          user(){
            return this.$store.getters.getUser
          }
        },
        watch: {
          user (value) {
            if (value !== null && value !== undefined) {
              this.$router.push('/')
            }
          }
        },
        methods: {
          toogleSignUp(){
            this.signUp = !this.signUp
          }
        }
    }
</script>

<style scoped>

</style>
