<template>

  <div>

    <div class="requiredFields">
      <label for="title">Titre</label>
      <input type="text" id="title" name="title" v-model="newAppliance.positionTitle">

      <label for="companyName">Nom</label>
      <input type="text" id="companyName" name="companyName" v-model="newAppliance.companyName">

      <label for="applianceType">Type de candidature</label>
      <select name="" id="applianceType" v-model="newAppliance.applianceType">
        <option value="Candidature Spontanée">Candidature Spontanée</option>
        <option value="Réponse à une offre">Réponse à une offre</option>
        <option value="Cooptation">Cooptation</option>
      </select>
    </div>

    <div class="position-panel">
      <div class="header" @click="togglePositionPanel">
        <h3>Poste</h3>
      </div>
      <div class="body" v-show="positionPanel">

        <div class="">
          <label for="missions">Missions</label>
          <input type="text" name="missions" id="missions" v-model="mission">
          <button class="subSubmit" @click='addToMissionsField'>+</button>
          <p v-for="mission in newAppliance.position.missions">{{mission}}</p>
        </div>

        <div class="">
          <label for="skills">Compétences</label>
          <input type="text" name="skills" id="skills" v-model="skill">
          <button class="subSubmit" @click='addToSkillsField'>+</button>
          <p v-for="skill in newAppliance.position.skills">{{skill}}</p>
        </div>

        <div class="">
          <label for="missions">Qualités</label>
          <input type="text" name="qualities" id="qualities" v-model="quality">
          <button class="subSubmit" @click='addToQualitiesField'>+</button>
          <p v-for="quality in newAppliance.position.qualities">{{quality}}</p>
        </div>
      </div>
    </div>

    <div class="company-panel">

      <div class="header" @click="toggleCompanyPanel">
        <h3>L'entreprise</h3>
      </div>

      <div class="body" v-show="companyPanel">

        <label for="adress1">Adresse 1</label>
        <input type="text" id="adress1" name="adress1" v-model="newAppliance.company.adress1">

        <label for="adress2">Adresse 2</label>
        <input type="text" id="adress2" name="adress2" v-model="newAppliance.company.adress2">

        <label for="city">Ville</label>
        <input type="text" id="city" name="city" v-model="newAppliance.company.city">

        <label for="zipcode">Code postal</label>
        <input type="text" id="zipcode" name="zipcode" v-model="newAppliance.company.zipcode">

        <label for="country">Pays</label>
        <input type="text" id="country" name="country" v-model="newAppliance.company.country">

        <div class="">
          <label for="activity">Activités</label>
          <input type="text" name="activity" id="activity" v-model="activity">
          <button class="subSubmit" @click='addToActivitiesField'>+</button>
          <p v-for="activity in newAppliance.company.activities">{{activity}}</p>
        </div>

        <div class="">
          <label for="geoField">Secteur géographique</label>
          <input type="text" name="geoField" id="geoField" v-model="geoField">
          <button class="subSubmit" @click='addToGeoFieldsField'>+</button>
          <p v-for="field in newAppliance.company.geoFields">{{field}}</p>
        </div>

        <label for="revenue">Chiffre d'affaires</label>
        <input type="number" id="revenue" name="revenue" v-model="newAppliance.company.revenue">

        <label for="workforce">Effectif</label>
        <input type="number" id="workforce" name="workforce" v-model="newAppliance.company.workforce">

        <div class="">
          <label for="otherInformations">Autres informations</label>
          <input type="text" name="otherInformations" id="otherInformations" v-model="otherInformation">
          <button class="subSubmit" @click='addToOtherInformationsField'>+</button>
          <p v-for="info in newAppliance.company.otherInformations">{{info}}</p>
        </div>

      </div>

    </div>

    <div class="contact-panel">

      <div class="header" @click="toggleContactPanel">
        <h3>Contact</h3>
      </div>

      <div class="body" v-show="contactPanel">

        <label for="contactName">Nom</label>
        <input type="text" id="contactName" name="contactName" v-model="newAppliance.contact.name">

        <label for="contactPosition">Poste occupé</label>
        <input type="text" id="contactPosition" name="contactPosition" v-model="newAppliance.contact.position">

        <label for="mail">Mail</label>
        <input type="text" id="mail" name="mail" v-model="newAppliance.contact.mail">

        <label for="phone">Téléphone</label>
        <input type="text" id="phone" name="phone" v-model="newAppliance.contact.phone">

        <label for="linkedInProfile">Nom</label>
        <input type="text" id="linkedInProfile" name="linkedInProfile" v-model="newAppliance.contact.linkedInProfile">

        <label for="twitterProfile">Nom</label>
        <input type="text" id="twitterProfile" name="twitterProfile" v-model="newAppliance.contact.twitterProfile">

      </div>

    </div>

    <div class="submit">
      <button @click="createNewAppliance">Créer la candidature</button>
    </div>

  </div>

</template>

<script>
  export default {
    name: "CreateAppliance",
    data() {
      return {
        newAppliance: {
          positionTitle: '',
          companyName: '',
          applianceType: '',
          company: {
            adress1: '',
            adress2: '',
            city: '',
            zipcode: '',
            country: '',
            activities: [],
            geoFields: [],
            revenue: '',
            workforce: '',
            otherInformations: []
          },
          contact: {
            name: '',
            position: '',
            mail: '',
            phone: '',
            linkedInProfile: '',
            twitterProfile: ''
          },
          position: {
            missions: [],
            skills: [],
            qualities: []
          },
          info: {
            user: 'romain',
            campaign: this.$store.getters.getActiveCampaign.info.id,
            id: `${this.$store.getters.getActiveCampaign.info.id}-${this.id}`
          },
          path: {
            currentStep: 'toSend'
          }
        },
        mission: '',
        skill: '',
        quality: '',
        activity: '',
        geoField: '',
        otherInformation: '',
        companyPanel: false,
        contactPanel: false,
        positionPanel: false
      }
    },
    computed: {
      id(){
        return () => {Math.round(Math.random() * (100000 - 10000) + 10000)}
      }
    },
    methods: {
      togglePositionPanel(){
        this.positionPanel = !this.positionPanel;
      },

      toggleCompanyPanel(){
        this.companyPanel = !this.companyPanel;
      },

      toggleContactPanel(){
        this.contactPanel = !this.contactPanel;
      },

      addToMissionsField(){
        this.newAppliance.position.missions = [...this.newAppliance.position.missions, this.mission];
      },

      addToSkillsField(){
        this.newAppliance.position.skills = [...this.newAppliance.position.skills, this.skill];
      },

      addToQualitiesField(){
        this.newAppliance.position.qualities = [...this.newAppliance.position.qualities, this.quality];
      },

      addToActivitiesField(){
        this.newAppliance.company.activities = [...this.newAppliance.company.activities, this.activity];
      },

      addToGeoFieldsField(){
        this.newAppliance.company.geoFields = [...this.newAppliance.company.geoFields, this.geoField];
      },

      addToOtherInformationsField(){
        this.newAppliance.company.otherInformations = [...this.newAppliance.company.otherInformations, this.otherInformation];
      },

      createNewAppliance(){
        function id(){
          return  Math.round(Math.random() * (100000 - 10000) + 10000)
        }
        this.newAppliance.info.id = `${this.$store.getters.getActiveCampaign.info.id}-${id()}`
        console.log(this.newAppliance)
        this.$store.dispatch('createNewAppliance', this.newAppliance)
      }

    }
  }
</script>

<style scoped>
  .subSubmit {
    display: inline;
  }
</style>
