<template>
  <div class="campaign-form">

    <h1>Créer une nouvelle campagne</h1>

    <div class="title-form">
      <label for="title">Titre</label>
      <input type="text" name="title" id="title" v-model='title' placeholder="Titre">
    </div>
    <div class="contratType-form">
      <label for="contractType">Type de contrat</label>
      <select name="contractType" id="contractType" v-model='contractType'>
        <option value="CDI">CDI</option>
        <option value="CDD">CDD</option>
        <option value="Stage">Stage</option>
        <option value="Alternance">Alternance</option>
        <option value="Interim">Intérim</option>
      </select>
    </div>
    <div class="geoField">
      <label for="geoField">Secteur géographique</label>
      <input type="text" name="geoField" id="geoField" v-model="geoField">
      <button id="geoFieldSubmit" @click='addGeoField'>+</button>
      <p v-for="field in geoFields">{{field}}</p>
    </div>
    <div class="sector-form">
      <label for="sector">Secteur d'activités</label>
      <select name="sector" id="sector" v-model='sector'>
        <option value="Web et Technologies">Web et Technologies</option>
        <option value="Droit">Droit</option>
        <option value="Commerce">Commerce</option>
      </select>
    </div>
    <div class="expectedSalary-form">
      <label for="expectedSalary">Salaire souhaité</label>
      <input type="number" name="expectedSalary" id="expectedSalary" v-model='expectedSalary'>
    </div>



    <div>
      <button @click="createNewCampaign">Créer</button>
    </div>

  </div>
</template>

<script>
  export default {
    name: "CreateCampaign",
    data () {
      return {
        title: '',
        contractType: '',
        geoField: '',
        geoFields: [

        ],
        sector: '',
        expectedSalary: '',
        defaultCV: null
      }
    },
    computed: {
      campaign(){
        return this.$store.getters.getActiveCampaign
      },
      user(){
        return this.$store.getters.getUser
      }
    },
    methods: {
      addGeoField(){
        this.geoFields = [...this.geoFields, this.geoField]
      },
      createNewCampaign(){
        const id = () => {
          return Math.round(Math.random() * (100000 - 10000) + 10000)
        };
        const newCampaign = {
          title: this.title,
          contractType: this.contractType,
          expectedSalary: this.expectedSalary,
          geoField: this.geoFields,
          sector: this.sector,
          info: {
            id: `${this.user.id}-${id()}`,
            user: this.user.id
          },
          active: true
        };
        this.$store.dispatch('createNewCampaign', newCampaign);
        this.$router.push('/')
      }

    }
  }
</script>

<style scoped>
  div {
    margin-bottom: 10px;
  }
  label {
    margin-right: 5px;
  }
</style>
