<template>
    <div>

      <h1>Template Mail</h1>

      <textarea name="" id="" cols="30" rows="10" v-model="mailTemplate"></textarea>

      <button @click="setMailTemplate">Créer</button>

    </div>
</template>

<script>
    export default {
        name: "CreateMailTemplate",
        data(){
          return {
            mailTemplate: this.$store.getters.getActiveCampaign.defaultMailTemplate
          }
        },
        methods: {
          setMailTemplate(){
            this.$store.dispatch('uploadDefaultMailTemplate', this.mailTemplate)
            this.$router.go(-1)
          }
        }
    }
</script>

<style scoped>

</style>
