<template>
    <div>

      <h3>Partie MOI</h3>
      <textarea name="" id="" cols="30" rows="10" v-model="motivationLetter.me"></textarea>

      <h3>Partie NOUS</h3>
      <textarea name="" id="" cols="30" rows="10" v-model="motivationLetter.us"></textarea>

      <button @click="setMotivationLetter">Créer le template</button>

    </div>
</template>

<script>
    export default {
        name: "MotivationLetterDefaultTemplate",
        data(){
          return {
            motivationLetter: {
              me: this.$store.getters.getActiveCampaign.defaultMotivationLetterTemplate.me,
              us: this.$store.getters.getActiveCampaign.defaultMotivationLetterTemplate.us
            }
          }
        },
        methods: {
          setMotivationLetter(){
            this.$store.dispatch('uploadDefaultMotivationLetterTemplate', this.motivationLetter)
            this.$router.go(-1)
          }
        }
    }
</script>

<style scoped>

</style>
