<template>
    <div>
      <h1>Mes campagnes</h1>
      <router-link to="/create-campaign"><button id="newCampaignBtn">+ Nouvelle campagne</button></router-link>
      <CampaignList/>

    </div>
</template>

<script>

    import CampaignList from "../components/CampaignList";
    export default {
      name: 'UserDashboard',
      components: {CampaignList},
      computed: {
        userInfo() {
          return this.$store.getters.getUserInfo
        },
        user() {
          return this.$store.getters.getUser
        }
      },
      created() {
        this.$store.dispatch('fetchUserInfo', this.user)
      }
    }
</script>

<style scoped>
  #newCampaignBtn {
    padding: 5%;
    background-color: royalblue;
    box-shadow: 2px 2px 10px lightgrey;
    border-radius: 7px;
    width: 100%;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
  }

</style>
