<template>
    <div>
      <button @click="goBack">Retour</button>

      <div>
        <pdf :src="cvURL.i"></pdf>
      </div>
    </div>
</template>

<script>
    import pdf from 'vue-pdf'

    const fb = require('../firebaseConfig')

    export default {
        name: "ViewCampaignCV",
        components: {
          pdf
        },
        data(){
          return {
            cvURL: null
          }
        },
        methods: {
          goBack(){
            this.$router.go(-1)
          }
        },
        created(){
          this.cvURL = fb.fireb.storage().ref().child(this.$store.getters.getActiveCampaign.defaultCV).getDownloadURL()
        }
    }
</script>

<style scoped>

</style>
