<template>
    <div>
      <ApplianceCard v-for="appliance in appliances" v-bind:key="appliance.info.id" v-bind:appliance="appliance"/>
    </div>
</template>

<script>
    import ApplianceCard from './ApplianceCard'
    export default {
        name: "ApplianceList",
        components: {ApplianceCard},
        computed: {
          appliances(){
            return this.$store.getters.getAppliances
          },
          activeCampaign(){
            return this.$store.getters.getActiveCampaign
          }
        },
        created(){
          console.log(this.activeCampaign)
          this.$store.dispatch('fetchAppliances')
        }
    }
</script>

<style scoped>

</style>
