<template>
  <router-link :to="{name: 'ApplianceDetails', params: {id: appliance.info.id}}">
    <div>
      <h2>{{appliance.companyName}}</h2>
      <h3>{{appliance.positionTitle}}</h3>
      <p>{{appliance.applianceType}}</p>
      <p>{{appliance.path.currentStep}}</p>
    </div>
  </router-link>

</template>

<script>
    export default {
        name: "ApplianceCard",
        props: {
          appliance: Object
        }
    }
</script>

<style scoped>

</style>
