<template>
  <div>
    <CampaignCard v-for="campaign in campaigns" v-bind:key="campaign.info.id" v-bind:campaign="campaign"/>
  </div>
</template>

<script>
    import CampaignCard from './CampaignCard'

    export default {
        name: "CampaignList",
        components: {CampaignCard},
        computed: {
          campaigns(){
            return this.$store.state.campaigns.campaigns
          }
        },
        created(){
          this.$store.dispatch('fetchCampaigns')
        }
    }
</script>

<style scoped>

</style>
