<template>
  <router-link :to="{name: 'CampaignDetails', params: {id: campaign.info.id}}">
    <div class="card" v-bind:class="{finished: !campaign.active}">
      <h3>{{campaign.title}}</h3>
      <p id="localisation"><span v-for="field in campaign.geoField">{{field}} </span></p>
      <div class="currentAppliances">
        <p v-if="campaign.active"><span>{{campaign.activeAppliance}}</span> candidatures en cours</p>
        <p v-else>Campagne terminée</p>
      </div>
    </div>
  </router-link>
</template>

<script>
    export default {
        name: 'CampaignCard',
        props: {
          campaign: Object
        }
    }
</script>

<style scoped>

  .card {
    border-radius: 7px;
    box-shadow: 2px 2px 10px lightgrey;
    padding: 7%;

    margin-top: 5%;
    height: 100px;
  }

  h3 {
    margin-top: 0;
  }

  p {
    margin-bottom: 0;
  }

  .currentAppliances{
    text-align: right;
  }

</style>
