<template>
    <div id="login">

      <h1>Log In</h1>

      <div>
        <input type="text" name="email" id="email" placeholder="E-Mail" v-model="logInInfo.email">
      </div>

      <div>
        <input type="password" name="password" id="password" placeholder="Password" v-model="logInInfo.password">
      </div>

      <div>
        <button type="submit" @click="logIn">Log In</button>
      </div>

    </div>
</template>

<script>
    export default {
        name: "Login",
        data(){
          return {
            logInInfo: {
              email: '',
              password: ''
            },
            loggedIn: false
          }
        },
        methods: {
          async logIn(){
            await this.$store.dispatch('signUserIn', this.logInInfo);
            this.$router.push({name: 'UserDashboard'})
          }
        }
    }
</script>

<style scoped>

</style>
