<template>
    <div>
      <button @click="logInWithGoogle">Google</button>
      <!--<button @click="logInWithFacebook">Facebook</button>
      <button @click="logInWithTwitter">Twitter</button>-->
    </div>
</template>

<script>
    export default {
        name: "OAuthLogIn",
        methods: {
          logInWithGoogle(){
            this.$store.dispatch('signUserInGoogle')
          }/*,
          logInWithFacebook(){

          },
          logInWithTwitter(){

          }*/
        }
    }
</script>

<style scoped>

</style>
