<template>
    <div>
      <h1>Sign Up</h1>

      <div>
        <input type="email" id="email" name="email" placeholder="E-Mail" v-model="signUpInfo.email">
      </div>

      <div>
        <input type="password" name="password" id="password" placeholder="Mot de passe" v-model="signUpInfo.password">
      </div>

      <div>
        <input type="password" name="confirmPassword" id="confimrPassword" placeholder="Confirmez votre mot de passe" v-model="confirmPassword">
      </div>

      <div>
        <button @click="signUp">Sign Up</button>
      </div>

    </div>
</template>

<script>
    export default {
        name: "SignUp",
        data(){
          return {
            signUpInfo: {
              email: '',
              password: ''
            },
            confirmPassword: ''
          }
        },
        methods: {
          signUp(){
            if(this.signUpInfo.password === this.confirmPassword){
              this.$store.dispatch('signUserUp', this.signUpInfo)
            }
          }
        }
    }
</script>

<style scoped>

</style>
