<template>
    <div class="path">
      <div v-if="currentStep === 'toSend'">
        <h3>Candidature à envoyer</h3>
      </div>

      <div v-if="currentStep === 'send'">
        <h3>En attente de réponse</h3>
      </div>

      <div v-if="currentStep === 'toRecall'">
        <h3>Entreprise à relancer</h3>
      </div>

      <div v-if="currentStep === 'recalled'">
        <h3>En attente de réponse après relance</h3>
      </div>

      <div v-if="currentStep === 'toItw'">
        <h3>Entretien prévu le {{path.interview.date}}</h3>
      </div>

      <div v-if="currentStep === 'afterItw'">
        <h3>En attente de réponse après entretien</h3>
      </div>

      <div v-if="currentStep === 'jobEarned'">
        <h3>Poste obtenu</h3>
      </div>

      <div v-if="currentStep === 'applianceRejected'">
        <h3>Candidature refusée</h3>
      </div>

    </div>
</template>

<script>
    export default {
        name: "AppliancePathCard",
        computed: {
          currentStep(){
            return this.$store.getters.getActiveAppliance.path.currentStep
          },
          path(){
            return this.$store.getters.getActiveAppliance.path
          }
        }

    }
</script>

<style scoped>
  .path {
    background-color: #ebce8c;
    padding: 8% 8%;
    border-radius: 7px;
    margin: 5px 0;
    box-shadow: 2px 2px 10px lightgrey;
    text-align: center;
  }

  ul {
    padding: 0 0 0 3%;
  }

  li {
    font-size: 1em;
  }

  h3 {
    margin: 0;
  }
</style>
