<template>
  <div class="company">

    <div class="header" @click="toggleExpended">
      <h3>Entreprise</h3>
      <button id="modify" v-if="expended && !modifying" @click.stop="toggleModifying">Modifier</button>
      <div id="modifyingBtns" v-if="expended && modifying">
        <button @click.stop="toggleModifying">Annuler</button>
        <button @click.stop="updateCompanyInfos">Valider</button>
      </div>
    </div>

    <div class="body" v-show="expended">


      <div class="display" v-if="!modifying">
        <h4>Activités</h4>
          <ul>
            <li v-for="activity in activeAppliance.company.activities">
              {{activity}}
            </li>
          </ul>
        <h4>Champ d'activités : </h4><p>{{activeAppliance.company.geoFields}}</p>
        <h4>Chiffres d'affaires : </h4><p>{{activeAppliance.company.revenue}} euros</p>
        <h4>Effectif : </h4><p>{{activeAppliance.company.workforce}} employés</p>
        <h4>Adresse</h4>
        <p>{{activeAppliance.company.adress1}}</p>
        <p v-if="activeAppliance.company.adress2">{{activeAppliance.company.adress2}}</p>
        <p>{{activeAppliance.company.zipcode}} {{activeAppliance.company.city}}</p>
        <p>{{activeAppliance.company.country}}</p>
        <h4>Autres informations</h4>
        <ul>
          <li v-for="info in activeAppliance.company.otherInformations">{{info}}</li>
        </ul>
      </div>

      <div class="update" v-if="modifying">
        <div>
          <h4>Activités</h4>
          <div v-for="activity in updated.activities"><span>{{activity}}</span><button @click="deleteActivity(activity)">-</button></div>
          <input type="text" name="activity" id="activity" v-model="activityToCreate">
          <button id="activitySubmit" @click='addToActivitiesField'>+</button>
        </div>
        <div>
          <h4>Champ d'activités</h4>
          <input type="text" name="geoField" id="geoField" v-model="updated.geoField">
        </div>
        <div>
          <h4>Chiffres d'affaires</h4>
          <input type="text" name="revenue" id="revenue" v-model="updated.revenue">
        </div>
        <div>
          <h4>Effectif</h4>
          <input type="text" name="workforce" id="workforce" v-model="updated.workforce">
        </div>
        <div>
          <h4>Adresse</h4>
          <input type="text" name="adress1" id="adress1" v-model="updated.adress1">
          <input type="text" name="adress2" id="adress2" v-model="updated.adress2">
          <input type="text" name="zipcode" id="zipcode" v-model="updated.zipcode">
          <input type="text" name="city" id="city" v-model="updated.city">
          <input type="text" name="country" id="country" v-model="updated.country">
        </div>
        <div>
          <h4>Autres informations</h4>
          <div v-for="otherInfo in updated.otherInformations"><span>{{otherInfo}}</span><button @click="deleteOtherInfo(otherInfo)">-</button></div>
          <input type="text" name="activity" id="otherInformation" v-model="otherInformationToCreate">
          <button id="otherInfoSubmit" @click='addToOtherInformationsField'>+</button>
        </div>
      </div>


    </div>

  </div>
</template>

<script>
  export default {
    name: "Company",
    data(){
      return {
        expended: false,
        modifying: false,
        updated: {
            activities: this.$store.getters.getActiveAppliance.company.activities,
            geoField: this.$store.getters.getActiveAppliance.company.geoFields,
            revenue: this.$store.getters.getActiveAppliance.company.revenue,
            workforce: this.$store.getters.getActiveAppliance.company.workforce,
            adress1: this.$store.getters.getActiveAppliance.company.adress1,
            adress2: this.$store.getters.getActiveAppliance.company.adress2,
            zipcode: this.$store.getters.getActiveAppliance.company.zipcode,
            city: this.$store.getters.getActiveAppliance.company.city,
            country: this.$store.getters.getActiveAppliance.company.country,
            otherInformations: this.$store.getters.getActiveAppliance.company.otherInformations
          },
        activityToCreate: '',
        otherInformationToCreate: ''
        }
      },
    methods: {
      toggleExpended(){
        this.expended = !this.expended
      },
      toggleModifying(){
        this.modifying = !this.modifying
      },
      addToActivitiesField(){
        this.updated.activities = [...this.updated.activities, this.activityToCreate]
      },
      deleteActivity(activityToDelete){
        this.updated.activities = this.updated.activities.filter(activity => activity !== activityToDelete);
      },
      addToOtherInformationsField(){
        this.updated.otherInformations = [...this.updated.otherInformations, this.otherInformationToCreate]
      },
      deleteOtherInfo(otherInfoToDelete){
        this.updated.otherInformations = this.updated.otherInformations.filter(otherInfo => otherInfo !== otherInfoToDelete);
      },
      updateCompanyInfos(){
        this.$store.dispatch('updateCompanyInfos', this.updated)
        this.toggleModifying()
      }
    },
    computed: {
      activeAppliance(){
        return this.$store.getters.getActiveAppliance
      }
    }
  }
</script>

<style scoped>
  .company {
    border: solid 1px royalblue;
    padding: 3% 3%;
    margin: 5px 0;
    border-radius: 7px;
    box-shadow: 2px 2px 10px lightgrey;
    color: royalblue;
  }

  h3 {
    margin: 0;
  }

  .body {
    margin-left: 7px;
  }
</style>
