<template>
  <div class="contact">


    <div class="header" @click="toggleExpended">
      <h3>Interlocuteur</h3>
      <button id="modify" v-if="expended && !modifying" @click.stop="toggleModifying">Modifier</button>
      <div id="modifyingBtns" v-if="expended && modifying">
        <button @click.stop="toggleModifying">Annuler</button>
        <button @click.stop="updateContactInfos">Valider</button>
      </div>
    </div>

    <div class="body" v-show="expended">


      <div class="display" v-if="!modifying">

        <h4>Nom</h4>
        <p>{{activeAppliance.contact.name}}</p>

        <h4>Poste occupé</h4>
        <p>{{activeAppliance.contact.position}}</p>`

        <h4>Mail</h4>
        <p>{{activeAppliance.contact.mail}}</p>

        <h4>Téléphone</h4>
        <p>{{activeAppliance.contact.phone}}</p>

        <h4>LinkedIn</h4>
        <p>{{activeAppliance.contact.linkedInProfile}}</p>

        <h4>Twitter</h4>
        <p>{{activeAppliance.contact.twitterProfile}}</p>

      </div>

      <div class="update" v-if="modifying">

        <h4>Nom</h4>
        <input type="text" v-model="updated.name">

        <h4>Poste occupé</h4>
        <input type="text" v-model="updated.position">

        <h4>Mail</h4>
        <input type="text" v-model="updated.mail">

        <h4>Téléphone</h4>
        <input type="text" v-model="updated.phone">

        <h4>LinkedIn</h4>
        <input type="text" v-model="updated.linkedInProfile">

        <h4>Twitter</h4>
        <input type="text" v-model="updated.twitterProfile">

      </div>
    </div>

  </div>
</template>

<script>
  export default {
    name: "Contact",
    data(){
      return {
        expended: false,
        modifying: false,
        updated: {
          name: this.$store.getters.getActiveAppliance.contact.name,
          position: this.$store.getters.getActiveAppliance.contact.position,
          mail: this.$store.getters.getActiveAppliance.contact.mail,
          phone: this.$store.getters.getActiveAppliance.contact.phone,
          linkedInProfile: this.$store.getters.getActiveAppliance.contact.linkedInProfile,
          twitterProfile: this.$store.getters.getActiveAppliance.contact.twitterProfile
        }
      }
    },
    methods: {
      toggleExpended(){
        this.expended = !this.expended
      },
      toggleModifying(){
        this.modifying = !this.modifying
      },
      updateContactInfos(){
        this.$store.dispatch('updateContactInfos', this.updated)
        this.toggleModifying()

      }

    },
    computed: {
      activeAppliance(){
        return this.$store.getters.getActiveAppliance
      }
    }
  }
</script>

<style scoped>
  .contact {
    border: solid 1px seagreen;
    padding: 3% 3%;
    border-radius: 7px;
    margin: 5px 0;
    box-shadow: 2px 2px 10px lightgrey;
    color: seagreen;
  }

  h3 {
    margin: 0;
  }
</style>
