<template>
    <div class="position">

      <div class="header" @click="toggleExpended">
        <h3>Poste</h3>
        <button id="modify" v-if="expended && !modifying" @click.stop="toggleModifying">Modifier</button>
        <div id="modifyingBtns" v-if="expended && modifying">
          <button @click.stop="toggleModifying">Annuler</button>
          <button @click.stop="updatePositionInfos">Valider</button>
        </div>
      </div>

      <div class="body" v-show="expended">


        <div class="display" v-if="!modifying">

          <h4>Missions</h4>
          <ul>
            <li v-for="mission in activeAppliance.position.missions">
              {{mission}}
            </li>
          </ul>

          <h4>Compétences</h4>
          <ul>
            <li v-for="skill in activeAppliance.position.skills">
              {{skill}}
            </li>
          </ul>

          <h4>Qualités</h4>
          <ul>
            <li v-for="quality in activeAppliance.position.qualities">
              {{quality}}
            </li>
          </ul>

        </div>

        <div class="update" v-if="modifying">
          <div>
            <h4>Missions</h4>
            <div v-for="mission in updated.missions"><span>{{mission}}</span><button @click="deleteMission(mission)">-</button></div>
            <input type="text" name="mission" id="mission" v-model="missionToCreate">
            <button id="missionSubmit" @click='addToMissionsField'>+</button>
          </div>

          <div>
            <h4>Compétences</h4>
            <div v-for="skill in updated.skills"><span>{{skill}}</span><button @click="deleteSkill(skill)">-</button></div>
            <input type="text" name="skill" id="skill" v-model="skillToCreate">
            <button id="skillSubmit" @click='addToSkillsField'>+</button>
          </div>

          <div>
            <h4>Qualités</h4>
            <div v-for="quality in updated.qualities"><span>{{quality}}</span><button @click="deleteQuality(quality)">-</button></div>
            <input type="text" name="quality" id="quality" v-model="qualityToCreate">
            <button id="qualitySubmit" @click='addToQualitiesField'>+</button>
          </div>

        </div>
      </div>


    </div>
</template>

<script>
    export default {
        name: "Position",
        data(){
          return {
            expended: false,
            modifying: false,
            updated: {
              missions: this.$store.getters.getActiveAppliance.position.missions,
              skills: this.$store.getters.getActiveAppliance.position.skills,
              qualities: this.$store.getters.getActiveAppliance.position.qualities
            },
            missionToCreate: '',
            skillToCreate: '',
            qualityToCreate: ''
          }
        },
        methods: {
          toggleExpended(){
            this.expended = !this.expended
          },
          toggleModifying(){
            this.modifying = !this.modifying
          },
          addToMissionsField(){
            this.updated.missions = [...this.updated.missions, this.missionToCreate]
          },
          deleteMission(missionToDelete){
            this.updated.missions = this.updated.missions.filter(mission => mission !== missionToDelete)
          },
          addToSkillsField(){
            this.updated.skills = [...this.updated.skills, this.skillToCreate]
          },
          deleteSkill(skillToDelete){
            this.updated.skills = this.updated.skills.filter(skill => skill !== skillToDelete)
          },
          addToQualitiesField(){
            this.updated.qualities = [...this.updated.qualities, this.qualityToCreate]
          },
          deleteQuality(qualityToDelete){
            this.updated.qualitiex = this.updated.qualities.filter(quality => quality !== qualityToDelete)
          },
          updatePositionInfos(){
            this.$store.dispatch('updatePositionInfos', this.updated)
            this.toggleModifying()
          }
        },
        computed: {
          activeAppliance(){
            return this.$store.getters.getActiveAppliance
          }
        }
    }
</script>

<style scoped>
  .position {
    border: solid 1px darkred;
    padding: 3% 3%;
    border-radius: 7px;
    margin: 5px 0;
    box-shadow: 2px 2px 10px lightgrey;
    color: darkred;
  }

  h3 {
    margin: 0;
  }
</style>
