<template>
  <div id="app">
    <button id="logOut" @click="logOut">Log Out</button>
    <router-view/>
  </div>
</template>

<script>
  export default {
    name: 'App',
    computed: {
      user(){
        return this.$store.getters.getUser
      }
    },
    methods: {
      logOut(){
        this.$store.dispatch('logOut')
        this.$router.push('/connection')
      }
    }
  }
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 5%;
    padding-right: 5%;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  #logOut {

  }

</style>
